src/Services/Finishing/FinishingLibraryService/obj
src/Services/Finishing/FinishingLibraryService/bin
src/Services/Finishing/FinishingLibraryService.Api/bin
src/Services/Finishing/FinishingLibraryService.Api/obj
src/Services/ToursStyleConfigurators/.idea/.idea._3dEstate.Platform.Services
src/BuildingBlocks/AzureBlobStorage/bin
src/BuildingBlocks/AzureBlobStorage/obj
src/BuildingBlocks/CQRS/bin
src/BuildingBlocks/CQRS/obj
.idea/.idea._3dEstate.Platform.Services
src/BuildingBlocks/Healthchecks/bin/Debug/net6.0
src/BuildingBlocks/Healthchecks/obj
#
# Pliki zawierające sekrety (blokada push)
deploy/containerapps/main.bicep
dapr/components/platform-pubsub.yaml
src/BuildingBlocks/Infrastructure/BuildingBlocks.Infrastructure.Tests/AzureStorageTests.cs
*/**/obj
*/**/obj
*/**/bin
*/**/bin
src/Services/InteriorDesigner/InteriorDesignerService.Api/appsettings.Development.json
*/**/obj
*/**/obj
*/**/obj
*/**/bin
*/**/bin
src/Services/ToursStylesConfigurator/TourStylesConfigurator.Api/.env
